<p style="color: green"><%= notice %></p>

<div class="show_cliente">
<%= render @cliente %>
<div class="botones">
  <%= link_to "Editar cliente âœï¸", edit_cliente_path(@cliente), class: "btn_edit" %> 
  <%= link_to "Ir a clientes ðŸ‘ˆ", clientes_path %>
</div>
  <%= button_to "Eliminar cliente ðŸ—‘ï¸", @cliente, method: :delete %>
</div>
