<div id="<%= dom_id factura %>">
  <p>
    <strong>Pedido:</strong>
    <%= factura.pedido_id %>
  </p>

  <p>
    <strong>Numero factura:</strong>
    <%= factura.numero_factura %>
  </p>

  <p>
    <strong>Fecha emision:</strong>
    <%= factura.fecha_emision %>
  </p>

  <p>
    <strong>Total:</strong>
    <%= factura.total %>
  </p>

  <p>
    <strong>Iva:</strong>
    <%= factura.iva %>
  </p>

  <p>
    <strong>Descuento:</strong>
    <%= factura.descuento %>
  </p>

</div>
