<p style="color: green"><%= notice %></p>

<%= render @categorias %>

<div>
  <%= link_to "Edit this categorium", edit_categorium_path(@categorias) %> |
  <%= link_to "Back to categoria", categoria_path %>

  <%= button_to "Destroy this categorium", @categorias, method: :delete %>
</div>
