<p style="color: green"><%= notice %></p>

<div class="show_cliente">
<%= render @producto %>
<div class="botones">
  <%= link_to "Editar producto âœï¸", edit_producto_path(@producto), class: "btn_edit" %>
  <%= link_to "Ir a Productos ðŸ‘ˆ", productos_path %>
  </div>
  <%= button_to "Eliminar producto ðŸ—‘ï¸", @producto, method: :delete %>
</div>
